{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block body_class %}signin{% endblock %}
{% block body %}
  <section>
    <div class="signinpanel">
      <div class="row">
        <div class="col-md-7">
          <div class="signin-info">

            <div class="logopanel">
                <img src="{% static "images/logo.png" %}" alt="Logo" style="margin: 0">
            </div><!-- logopanel -->

            <div class="mb20"></div>

            <h5><strong>Welcome to My Cinema!</strong></h5>
            <ul>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i> View some movies</li>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i> Rate the video</li>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
            </ul>
          </div><!-- signin0-info -->
        </div><!-- col-sm-7 -->

        <div class="col-md-5">
          <form method="post" action="">
            <h4 class="nomargin">Sign In</h4>
            <p class="mt5 mb20">Login to access your account.</p>
            {% csrf_token %}
            {% render_field form.username class="form-control uname" placeholder="Email" %}
            {% render_field form.password class="form-control pword mb10" placeholder="Password" %}
            {% if form.errors %}
              <label class="error">Please enter a correct username and password.</label>
            {% endif %}
            <a href="{% url 'accounts:register' %}">注册</a>
            <button class="btn btn-info btn-block btn-loading" data-loading-text="<div class='la-ball-clip-rotate la-21'><div></div></div>">Sign In</button>
          </form>
        </div><!-- col-sm-5 -->
      </div><!-- row -->

      <div class="signup-footer">
        <div class="pull-left">
            &copy; 2019. All Rights Reserved. MyCinema
        </div>
      </div>
    </div><!-- signin -->
  </section>
{% endblock %}
